@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Parisienne&family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

#logo {
    font-family: 'Parisienne', cursive;
    float: left;

}

#navbar {
    height: 70px;
    width: 100%;
   
}

#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    
}