@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Parisienne&family=Poppins:wght@300&display=swap');

/* Clear styling  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

/* Header and Navbar styling */

header {
    width: 100%;
    height: 70px;
}

.logo-a {
    text-decoration: none;

}

#logo {
    float: left;
    font-family: Parisienne, cursive;
    padding: 15px;
    background-color: #9D8956;
    color: white;
    height: 70px;

}


#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
    padding: 5px;
   
}

#container li {
    list-style: none;
    text-transform: uppercase;
    margin-top: 20px;
}

.active {
    color: #9D8956;
}

#container a {
    text-decoration: none;
    color: inherit;
}
    
/* Hero and cover text section */

#hero-outer {
    height: 580px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 580px;
    width: 100%;
    background: url(../images/hero-image.png) no-repeat center center;
    padding: 0;
    margin: 0;
}


/* Owner, welcome and menu download section */

#menus-pdf {
    background-color: #9D8956;
}

#menus-pdf div {
    height: 70px;
    width: 100%;

}

#menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
    padding: 5px;
   
}

#menu-container li {
    list-style: none;
    text-transform: uppercase;
    margin-top: 20px;
    padding-bottom: 20px;
}


#menu-container a {
    text-decoration: none;
    color: #fff;
}

#welcome {
    height: 580px;
    width: 100%;
    overflow: hidden;

}

#owner-image {
    float: left;
    height: 400px;
    width: 500px;
    background: url(../images/owner.jpg) no-repeat center center;
    margin: 90px;
    border-radius: 20px;
}

#welcome-text {
    height: 400px;
    max-width: 500px;
    margin: 90px;
    float: right;
}

#welcome-text h2 {
    margin-bottom: 30px;
    font-family: Parisienne, cursive;
    font-size: 3.5rem;
   
}

#welcome-text p {
    font-size: 1.2rem;
    
}